/*全局样式表*/
ul,
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}


/*主题色*/
.bg-kanban {
	background-color: #123b6f !important;
}

.theme {
	color: orange;
}


/*字体大小*/

.size16 {
	font-size: 16px !important;
}


/*外边距    mag开头数字代表值 -t -b -r -l分别代表上右下左四个方向*/

.magb20 {
	margin-bottom: 30px;
}

.mag-top20 {
	margin-top: 20px;
}

.mag-top15 {
	margin-top: 15px;
}

.mag-auto {
	margin: auto;
}

.mag-top50 {
	margin-top: 25px;
}


/*清除表单el-form-item下边距*/

.mardownNone {
	margin-bottom: 0 !important;
}

.clearFormMag .el-form-item {
	margin-bottom: 0;
}

/*移除上内边距*/

.pad-topnone {
	padding-top: 0 !important;
}


/*修改dialog弹出框body的内边距*/

.newDialog .el-dialog__body {
	padding: 10px 20px 40px;
}


/*不固定宽度*/

.resDialog .el-dialog__body {
	padding: 10px 20px 40px;
}


/*修改操作按钮没有在dialog_body里的弹出框内边距*/

.clearDialog .el-dialog__body {
	padding: 10px 20px;
}


/*弹出框body 宽度*/

.resDialog .el-dialog {
	width: 70% !important;
}


/*移除下内边距离*/

.pad-downnone {
	padding-bottom: 0 !important;
}

.pad-top20 {
	padding-top: 20px;
}

.mag-b15 {
	margin-bottom: 15px;
}


/*内边距  pad开头数字代表值 -t -b -r -l分别代表上右下左四个方向*/

.pad15 {
	padding: 15px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}


/*客户信息最大宽度*/

.max-width {
	/*max-width: 1220px;*/
}


/*flex布局*/

.flex-x {
	display: flex;
	justify-content: center;
}

.flex-y {
	display: flex !important;
	align-items: center;
}

.flex-x-b {
	display: flex;
	justify-content: space-between;
}

.flex-1 {
	flex: 1;
}

.bread-box>.breadcrumb {
	background: transparent;
	font-size: 12px;
	border-radius: 2px;
	position: relative;
	font-size: 16px;
	/*border-bottom: 1px solid #eee;*/
	padding: 15px 5px;
	margin-bottom: 0;
}


/*表格*/

.tab-box .table-bordered>tbody>tr>td {
	font-size: 14px;
	/*color: #999999;*/
}


/*element tab组件*/

.tab-tdheight .el-table .cell {
	/*height: 40px;
	line-height: 40px;*/
	padding: 8px 10px !important;
	color: #333333;
	white-space: nowrap;
}

.tab-tdheight .el-table th {
	padding: 0 !important;
}

.tab-tdheight .el-table td {
	padding: 0 !important;
	white-space: nowrap;
}

.tab-tdheight .el-table__expand-icon {
	height: 24px;
}


/*修改bootstrap表格默认hover颜色*/

.table-hover>tbody>tr:hover {
	background-color: #ecf4f8 !important;
}

.condition-bar .el-input {
	max-width: 180px;
	display: inline-block;
}


/*.condition-bar {
	margin-bottom: 10px;
}*/

.condition-bar .el-input {
	margin-bottom: 10px !important;
}

/*日期组件宽度*/
.condition-bar .el-date-editor {
	max-width: 320px !important;
}

/**/

.order-pad10 {
	padding: 20px 10px;
}

.fontWeight {
	font-weight: bold;
}


/*element 下拉选择框*/

.res-elSelect .el-input__inner {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #DEDEDE;
	padding: 0 9px;
	/*font-weight: bold;*/
}

.res-elSelect .el-cascader__label {
	padding-left: 9px;
	/*font-weight: bold;*/
}


/*element 输入框*/

.res-elInput {}


/*bootstrap tab超出隐藏*/

.tabTd tr td {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*对齐*/

.pad-L9 {
	padding-left: 9px;
}


/*备注最低高度*/

.resTextarea .el-form-item__content {
	flex: 1;
}


/*.textareaHeight .el-textarea__inner {
	min-height: 80px !important;
}*/


/*备注最低高度text*/

.editText textarea {
	min-height: 100px !important;
}


/*备注*/

.el-tooltip__popper {
	max-width: 900px !important;
}


/*多的滚动条*/


/*.wrapper {
    overflow-y: hidden!important;
}*/


/*角色配色*/

.bg-operate-zg {
	background-color: #e69f9f;
	color: #FFFFFF !important;
}

.bg-operate-kf {
	background-color: #00C0EF;
	color: #FFFFFF !important;
}

.bg-operate-td {
	background-color: #82c8de;
	color: #FFFFFF !important;
}

.bg-operate-ys {
	background-color: #f5bd64;
	color: #FFFFFF !important;
}

.bg-admin {
	background-color: #39cccc;
	color: #FFFFFF !important;
}

.bg-buy {
	background-color: #DCAAA9;
	color: #FFFFFF !important;
}

.bg-money {
	background-color: #67c169;
	color: #FFFFFF !important;
}

.bg-zhiliang {
	background-color: #483D8B;
	color: #FFFFFF !important;
}

.bg-xiaoshou {
	background-color: #008080;
	color: #FFFFFF !important;
}

.bg-duichang {
	background-color: #7B68EE;
	color: #FFFFFF !important;
}

.bg-caiwu {
	background-color: #F4A460;
	color: #FFFFFF !important;
}

.bg-manager {
	background-color: #6691ab;
	color: #FFFFFF !important;
}

.bg-product {
	background-color: #CCB0B9;
	color: #FFFFFF !important;
}

.bg-operate-admin {
	background-color: #9694b3;
	color: #FFFFFF !important;
}

.bg-buy-admin {
	background-color: #435c88;
	color: #FFFFFF !important;
}

.bg-unroleName {
	background-color: #a8c5ad;
	color: #FFFFFF !important;
}

.bg-yard {
	background-color: #126ac5;
	color: #FFFFFF !important;
}


/*
.el-table tr>th{
	background: #eaf5f9;
}

.table tr>th{
	background: #eaf5f9;	
}*/


/*附件日期*/

.resDatainput input {
	background: white !important;
	border: none !important;
}


/*下拉框默认最大高度*/

.el-select-dropdown__wrap {
	max-height: 300px !important;
}

.el-scrollbar {
	/*padding-bottom: 20px!important;*/
}

.el-scrollbar__wrap {
	overflow: auto !important;
}


/*忘记了*/

.inputRes .el-input {
	height: 100% !important;
}


/*审批驳回文本输入框高度*/

.el-message-box .el-textarea__inner {
	height: 200px;
}

/*导航栏顶部固定*/
.fixed-header {
	position: fixed !important;
	width: 100%;
}

/*页面顶部面包屑菜单*/
.crumbs-menu {
	position: fixed !important;
	width: 100%;
	top: 50px;
	z-index: 1000;
	background: white !important;
	box-shadow: 0 0 10px #C1C1C1;
	box-sizing: border-box;
	padding: 0px 15px 0 15px;
}

.mag_t120 {
	margin-top: 100px;
}